.h{
    font-size: 50px;
    text-align: center;
    font-kerning: auto;
    color: rgb(245, 188, 0);
}







.a{
    font-size: 30px;
    text-align: center;
    font-kerning: auto;
    color: rgb(124, 108, 78);
}
.l{
    font-size: 20px;
    text-align: center;
    font-kerning: auto;
    color: white;
}








.k{
    font-size: 30px;
    text-align: center;
    font-kerning: auto;
    color: rgb(124, 108, 78);
}
.ko{
    font-size: 20px;
    text-align: center;
    font-kerning: auto;
    color: white;
}







.u{
    font-size: 30px;
    text-align: center;
    font-kerning: auto;
    color: rgb(124, 108, 78);
}
.uo{
    font-size: 20px;
    text-align: center;
    font-kerning: auto;
    color: white;
}







.w{
    font-size: 30px;
    text-align: center;
    font-kerning: auto;
    color: rgb(124, 108, 78);
}
.qo{
    font-size: 20px;
    text-align: center;
    font-kerning: auto;
    color: white;
}








.v{
    font-size: 30px;
    text-align: center;
    font-kerning: auto;
    color: rgb(124, 108, 78);
}
.vo{
    text-align: center;
    font-size: 20px;
    font-kerning: auto;
    color: white;
}







.z{
     text-align: center;
    font-size: 30px;
    font-kerning: auto;
    color: rgb(124, 108, 78);
}
.z1{
    font-size: 20px;
    font-kerning: auto;
    color: white;
    text-align: right;
}
.z2{
    font-size: 20px;
    font-kerning: auto;
    color: white;
}
.z3{
    font-size: 20px;
    font-kerning: auto;
    color: white;
    text-align: right;
}
.z4{
    font-size: 20px;
    font-kerning: auto;
    color: white;
}
.z5{
    font-size: 20px;
    font-kerning: auto;
    color: white;
    text-align: right;
}
.z6{
    font-size: 20px;
    font-kerning: auto;
    color: white;
}
.z7{
    font-size: 20px;
    font-kerning: auto;
    color: white;
    text-align: right;
}













.x{
    font-size: 30px;
    text-align: center;
    font-kerning: auto;
    color: rgb(124, 108, 78);
}
.xo{
    font-size: 20px;
    text-align: center;
    font-kerning: auto;
    color: white;
}
